body {
	font-family: sans-serif;
	padding: 1em 3em;
	background-color: #e7d3b6
}

.dashboard {
    width: 300px;
    background-color: #eea326;
	color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
	color: ;
	padding: 0 10px;
}

.info {
    margin-bottom: 20px;
}

.info span {
    font-weight: bold;
	padding-left: 10px;
}

.btn {
	font-size: 20px;
}

.btn:hover, .btns:hover {
	background-color: #db890d;
}

.btn:focus, .btns:focus {
	background-color: #db890d;
}

.btns, .btn {
	color: white;
	background-color: #ff9a00;
	margin: 10px 0 0 10px;
	border-color: white;
	border-radius: 5px;
	border-width: thin;
}
