body {
	font-family: sans-serif;
	padding: 1em 3em;
}

.dashboard {
    width: 300px;
    background-color: #e7d3b6;
	color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
	color: #ee990c;
	padding: 0 10px;
}

.info {
    margin-bottom: 20px;
}

.info span {
    font-weight: bold;
	padding-left: 10px;
}
